<launch>
    <!--  注意robot_description不要更改，否则会出错  后面请改为自己的模型路径 -->
	<param name="robot_description" textfile="$(find f4_urdf)/urdf/f4.urdf"/>

	<!-- 设置GUI参数，显示关节控制插件 -->
	<param name="gui" value="true"/>

	<!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
	<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
	
	<!-- 运行robot_state_publisher节点，发布tf  -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	
	<!-- 运行rviz可视化界面 -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find f4_urdf)/config/f4urdf.rviz" required="true" />
</launch>